@font-face {
  font-family: opensans;
  src: url(../fonts/OpenSans-Regular.woff);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: opensans;
  src: url(../fonts/OpenSans-Bold.woff);
  font-weight: bold;
  font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.popup {
  display: none;
  /*display: flex;*/
  width: 100%;
  height: 100vh;
  z-index: 4;
  position: fixed;
  justify-content: center;
  align-items: center;
}

.popup::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  opacity: 0.7;
}

.popup-container {
  width: 390px;
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap; 
  z-index: 5;
  position: relative; 
}

.popup-title {
  display: block;
  margin-left: auto;
  margin-right: auto; 
}

.popup-form {
  display: flex;
  flex-wrap: wrap;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 45px;
 
}

.popup-group {
  margin-top: 12%;
  width: 100%;
}

.popup-label {
  font-size: 13px;
  color: #000000;
  font-family: opensans;
  font-weight: 400;
}

.select {
  display: block;
  width: 100%;
  flex: 1;
  padding: 10px;
  margin-top: 5px;
  background-color: #f3f7f5;
  font-family: opensans;
  font-size: 13px;
  font-weight: 400;
  border: none;
}


.radio {
  position: absolute;
  clip: rect(1px,1px,1px,1px);
  height: 1px;
  width: 1px;
}

.radio-group:last-child {
  margin-left: 10px;
}

.radio-group-text::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  background-image:url(../svg/form-empty-circle.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 15px;
  vertical-align: middle;
}

.radio:checked ~ .radio-group-text::before {
  background-image:url(../svg/form-circle.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 15px;
  vertical-align: middle;
}

.radio-group-text {
  font-size: 13px;
  color: #000000;
  font-family: opensans;
  font-weight: 400;
}

.popup-textarea {
  display: block;
  width: 100%;
  flex: 1;
  padding: 10px;
  margin-top: 5px;
  background-color: #f3f7f5;
  font-family: opensans;
  font-size: 13px;
  font-weight: 400;
  border: none;
}

.select {
  -webkit-appearance:none;
  -moz-appearance:none;
  
  background-image: url(../svg/form-arrows.svg);
  background-repeat: no-repeat;
  background-size: 9px;
  background-position: right 10px center;
}

.select:focus {
  background-color: #f4f7f6;
  outline: 1px solid #b59f5b;
  
}

.popup-textarea {
  height: 131px;
  background-color: #f4f7f6;
}

.popup-textarea:focus {
  background-color: #f4f7f6;
  outline: 1px solid #b59f5b;
}

.popup-button {
  display: block;
  width: 100%;
  margin-top: 25px;
  background-color: #b59f5b;
  border: none;

}

.popup-button-label {
  font-size: 14px;
  line-height: 40px;
  color: #ffffff;
  font-family: opensans;
  font-weight: bold;
  text-transform: uppercase;
}

.popup-close {
  -webkit-appearance:none;
  -moz-appearance:none;
  position: absolute;
  width: 18px;
  height: 18px;
  text-indent: -9999px;
  top: -25px;
  right: 0;
  background-color: transparent;
  background-image: url(../svg/form-x.svg);
  border: none;
}


.header {
  background-image: url(../images/banner-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #000000;
  position: relative; 
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.45;

  
}

.header-container  {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 28px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.logo {
  z-index: 1;
  
}

.logo-img {
  width: 180px;  
}


.menu-list {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  
  
}

.menu-list-item {
  z-index: 1;
}

.next {
  margin-left: 35px;
}

.header-slogan {
  display: flex;
  margin: auto;
  height: 460px;
  max-width: 790px;
  
}

.title {
  font-size: 45px;
  color: #ffffff;
  font-family: opensans;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  line-height: 75px;
  margin: auto;
  z-index: 1;
  
}

.menu-link {
  font-family: opensans;
  font-weight: 100;
  font-style: normal;
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  

}


.slogan {
  display: flex;
  margin: auto;
  justify-content: center;
  position: relative;
}

.slogan::after {
  display: block;
  content: '';
  position: absolute;
  height: 3px;
  width: 66px;
  background-color: #b59f5b;
  opacity: 0.3;
  margin: auto;
  margin-top: 90px;
}
  
.section-trends {
  width: 100%;
}

.subtitle {
  display: block;
  padding-top: 58px;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: top;
  text-align: center;
  font-family: opensans;
  font-weight: bold;
  font-size: 20px;
  line-height: 14px;
} 


.trends-container {
  width: 100%;
  display: flex;
  margin-top: 45px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.trend {
  width: 25%;
  position: relative;
  min-height: 320px;
  display: flex;
  align-items: flex-end;
  border-right: 2px solid white; 
}

.trend::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.7;
  z-index: 2;
}

.trend-img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  object-fit: cover;
}

.category {
  width: 100%;
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: flex-start;
}


.category-item {
  margin-left: 20px;
}


.category-link {
  list-style-type: none;
  font-family: opensans;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  color: #b59f5b;
  font-size: 14px;
  text-transform: uppercase;
  vertical-align: top;
}



.trend-box {
  position: relative;
  width: 100%;
  z-index: 3;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #b59f5b;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 30px;
  margin-bottom: 16px;
  padding-top: 35px;
  padding-bottom: 35px;
  align-items: flex-end;
}

.trend-name {
  display: block;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 15px;
  vertical-align: top;
  font-family: opensans;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}

.main-box {
  display: flex; 
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 65px 15px;

}
.content {
  margin-left: auto;
  flex: 1;
}

.post {
  display: flex;
}

.post-next {
  display: flex;
  padding-top: 60px;
}

.post-img {
  display: block;
  max-width: 392px;
}

.post-box {
  margin-left: 30px;
  flex-wrap: wrap;
}

.post-author {
  font-family: opensans;
  font-size: 12px;
  font-weight: bold;
  color: #000000;
  padding-left: 20px;
}

.post-time {
  font-family: opensans;
  font-size: 12px;
  font-weight: 400;
  color: #888888;
  padding-top: 20px;
}

.post-content {
  padding-top: 50px;
  font-family: opensans;
  font-weight: 400;
  font-size: 15px;
  color: #0f0d0e;
}

.post-name {
  display: block;
  padding-bottom: 35px;
  vertical-align: top;
  font-family: opensans;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  color: #0f0d0e;
  text-decoration: none;
}

.side-bar {
  width: 285px;
  margin-left: 120px;
}

.side-slogan {
  display: flex;
  margin: auto;
  justify-content: center;
  position: relative;
}

.side-slogan:after {
  display: block;
  content: '';
  position: absolute;
  height: 3px;
  width: 66px;
  background-color: #b59f5b;
  opacity: 0.3;
  margin: auto;
  margin-top: 34px;
}
  
.side-bar-title {
  text-transform: uppercase;
  vertical-align: top;
  text-align: center;
  font-family: opensans;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
}

.side-slogan {
  margin-bottom: 40px;
}

.second {
  margin-top: 60px;
}

.new-post {
  display: flex;
  flex-wrap: nowrap;
  padding-top: 22px;
}

.new-post-img {
  margin-right: 18px;
  width: 70px;
}

.new-post-date {
  font-family: opensans;
  font-size: 12px;
  color: #888888;
}

.new-post-title {
  font-family: opensans;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #0f0d0e;
}

.search {
  display: flex;
  margin-top: 60px;
}

.search-group {
  flex: 1;
}

.field {
  display: inline-block;
  height: 48px;
  width: 100%;
  padding-left: 18px;
  padding-right: 18px;
  background-color: #f4f7f6;
  vertical-align: middle;
  font-family: opensans;
  color: #888888;
  font-size: 13px;
  border: none;
}

.button {
  width: 48px;
  height: 48px;
  background-image: url(../svg/search.svg);
  background-color: #b59f5b;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
  border: none;
}

.field-email {
  display: inline-block;
  height: 48px;
  width: 100%;
  padding-left: 18px;
  padding-right: 18px;
  background-color: #f4f7f6;
  vertical-align: middle;
  font-family: opensans;
  color: #888888;
  font-size: 13px;
  border: none;
}

.subscription-button {
  display: block;
  height: 48px;
  width: 100%;
  margin-top: 16px;
  background-color: #b59f5b;
  font-family: opensans;
  font-weight: bold;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  border: none;
}

.tags-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style-type: none;
}



.tags-item {
  display: block;
  padding: 6px 14px;
  list-style-type: none;
  font-family: opensans;
  font-weight: bold;
  font-size: 12px;
  border: 3px solid #ededed;
  text-transform: uppercase;
  text-align: center;
  margin-top: 6px;
  text-decoration: none;
  color: #0f0d0e;
  margin-right: 5px;
}

.tags-item:hover {
  width: 86px;
  height: 30px;
  background-color: rgba(244,243,241,0);
  border: 3px solid #b59f5b;
}

.lists-item {
  display: block;
  flex-wrap: nowrap;
  padding-bottom: 14px;
  border-bottom: 1px solid #ededed;
}

.topic {
  padding-top: 17px;
}

.lists-item-link {
  text-decoration: none;
  font-family: opensans;
  font-weight: bold;
  font-size: 14px;
  color: #0f0d0e;
}

.lists-item-link:hover {
  color: #b59f5b;
} 

.lists-number {
  font-family: opensans;
  font-weight: bold;
  font-size: 12px;
  color: #b59f5b;
  vertical-align: top;
}

.section-product {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.product-box {
  display: flex;
  flex-wrap: wrap;
  margin-top: 45px;
  margin-left: 15px; 
  margin-right: 15px;
  justify-content: space-between;
}

.product {
  width: 30%;
  display: flex;
  flex-wrap: wrap;
}

.product::last-child {
  flex-grow: 1;
}


.product-img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.product-info {
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  outline: 3px solid #b59f5b;
  margin-top: -30px;
}

.product-name {
  display: block;
  text-transform: none;
  color: #0f0d0e;
  font-size: 20px;
  text-decoration: none;
  font-family: opensans;
  font-weight: bold;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 55px;
  text-transform: uppercase;
}

.product-content {
  font-size: 15px;
  color: #000000;
  padding-right: 20px;
  padding-left: 20px;
  font-family: opensans;
}


.product-price {
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  font-family: opensans;
  font-weight: bold;
  color: #0f0d0e;
  padding-left: 20px;
}

.product-price_old {
  font-size: 14px;
  font-family: opensans;
  font-weight: bold;
  text-decoration: line-through;
}

.product-rub {
  margin-left: 5px;
  font-weight: 700;
}

.product-footer {
  width: 100%;
  margin-top: 25px;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.product-button {
  margin-right: 20px;
  padding: 18px 27px;
  color: #ffffff;
  background-color: #b59f5b;
  font-size: 14px;
  font-family: inherit;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
}

.product-link {
  font-family: inherit;
  color: #b59f5b;
  text-decoration: none;
}

.socials {
  display: block;
  padding-top: 66px;
  padding-bottom: 30px;
}

.socials-main {
  display: flex;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  padding: 31px 15px;
  background-color: #f5f7f6;
  list-style: none;
}

.follow {
  margin-left: 30px;
}

.socials-main-item-link {
  display: block;
  width: 20px;
  height: 20px;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
} 

.twitter {
  background-image: url(../svg/004-twitter.svg);
}

.pinterest {
  background-image: url(../svg/001-pinterest.svg);
}

.facebook {
  background-image: url(../svg/002-facebook-logo.svg);
}

.instagram {
  background-image: url(../svg/005-instagram.svg);
}

.tumblr {
  background-image: url(../svg/003-tumblr.svg);
}

.copyright {
  padding-top: 74px;
  vertical-align: middle;
  text-align: center;
}

.copyright-link {
  text-decoration: none;
  font-family: opensans;
  font-weight: bold;
  font-size: 12px;
  color: #999999;
}

@media (max-width: 1199px) {
  .menu-list {
    display: none;
  }

  .menu-button {
    width: 1.4em;
    height: 1em;
    border: none;
    padding: 0;
    background-color: transparent;
    font-size: 25px;
    position: relative;
    text-indent: -9999px;
    cursor: pointer;
    z-index: 1;
  }

  .menu-button:before {
    top: 0;
  }

  .menu-button:before, .menu-button:after {
    content: "";
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    z-index: 1;
  }

  .menu-button:after {
    bottom: 0;
    z-index: 1;
  }

    .menu-button-label {
    width: 100%;
    height: 5px;
    margin-top: -0.1em;
    border-radius: 5px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    top: 50%;
  }

  .header-slogan {
    width: 85%;
  }

  .title {
    font-size: 40px;
    line-height: 55px;
    font-weight: 700;
  }

  .header {
    background-image: url(../images/banner-bg-tablet.jpg);
  }

  .subtitle {
    font-size: 18px;
    line-height: 29px;
  }

  .trend {
    width: 50%;
    margin-top: 2px;
  }

  .trend-name {
    font-size: 17px;
    line-height: 22px;
  }

  .post, .post-next {
    flex-wrap: wrap;
  }

  .post-next::before {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #eeeeee;
    margin-bottom: 41px;
    margin-right: 15px;
  }

  .post-box {
    margin-top: 16px;
    margin-left: 0;
    margin-right: 15px;
  }

  .post-img {
    width: 100%;
  }

  .post-name {
    font-size: 17px;
    line-height: 22px;
    padding-top: 15px;
  }

  .side-bar {
    margin-left: 30px;
  }

  .product-box {
    margin: 0; 
  }

  .product {
    width: 50%;
    margin-top: 30px;
    padding: 15px;
  }

  .product-name {
    font-size: 17px;
  }

  .socials {
    margin-left: 15px;
    margin-right: 13px;
  }
}


@media (min-width: 1200px) {
  .menu-button {
    display: none;
  }
}

@media (max-width: 640px) {
  .header {
    background-image: url(../images/banner-mobile.jpg);
    background-size: cover;
  }

  
  .img {
    width: 75%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .logo-img {
    width: 100%;
  }

  .header-slogan {
    position: relative;
    justify-content: center;
  }

  .title {
    font-size: 26px;
    line-height: 36px;
  }

  .trend {
    width: 100%;
    border: none;
  }

  .category {
    width: 100%;
  }

  .subtitle {
    font-size: 16px;
  }

  .trend-name {
    font-size: 16px;
    line-height: 20px;
    flex: 1;
  }

  .main-box {
    width: 100%;
    flex-wrap: wrap;
    padding-left: 15px;
    padding-right: 15px;
  }

  .side-bar {
    width: 100%;
    margin-top: 20px;
    margin-left: 0;
  }

  .post {
    width: 100%;
  }

  .post-img {
    display: block;
    width: 95%;
  }

  .post-box {
    width: 100%;
  }

  .post:last-child::after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #eeeeee;
    margin-top: 41px;
    margin-right: 15px;
  }

  .post-name {
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 25px;
  }

  .post-content {
    font-size: 14px;
    padding-top: 20px;
  }

  .side-bar-title {
    font-size: 16px;
  }

  .product {
    width: 100%;
  }

  .popup-title {
    font-size: 18px;
    line-height: 29px;
  }

  .popup-container {
    width: 331px;
  }
}

